#casing {
	width: 100%;
}
#header {
	color: white;
	background-color: rgb(50,120,50);
	text-align: center;
	padding: 1.35%;
	width: 75%;
	margin: auto;
}
#nav {
	background-color: rgb(244,178,0);
	color: white;
	padding: 1.2%;
	text-decoration: none;
	font-size: 110%;
	font-family: 'contentFont';
	width: 75.4%;
	margin: auto;
	/*
	text-align: center;
	*/
}
#footer {
	text-align: center;
	font-size: 70%;
	margin: auto;
	font-family: 'contentFont';
}
div.content {
	min-height: 400px;
	font-size: 100%;
	font-family: 'contentFont';
	width: 67%;
	margin: auto;
	/*
	border: solid;
	border-color: black;
	*/
	background-color: rgba(0,0,0,0.75);
	padding: 4.7%;
}
div.dropdown {
	position: relative;
	display: inline-block;
}
div.dropdown-content {
	display: none;
	position: absolute;
	background-color: rgba(250,255,0,0.5);
	width: 94%;
	min-height: 2px;
	padding: 2.5%;
	text-align: center;
}
div.dropdown:hover .dropdown-content {
	display: block;
}
a:link, a:visited {
	color: white;
	display: inline-block;
	padding: 5px;
	text-decoration: none;
}
@font-face {
	font-family: headerFont;
	src: url('KGEyesWideOpen.ttf');
}
@font-face {
	font-family: subHeader;
	src: url('Fragmentcore.otf');
}
@font-face {
	font-family: contentFont;
	src: url('NixieOne.ttf');
}
body {
	background-color: rgba(21,172,33,0.4);
}
h1 {
	color: rgb(77,124,161);
	font-family: 'headerFont';
	font-size: 500%;
}
h2 {
	font-size: 190%;
	color: white;
}
h3, ul, ol {
	color: rgb(21,209,33);
}
p {
	color: white;
}
