#casing {
	width: 100%;
}
#header {
	color: white;
	background-color: rgb(50,120,50);
	text-align: center;
	padding: 10px;
	width: 75%;
	margin: auto;
}
#nav {
	background-color: rgb(244,178,0);
	color: white;
	padding: 7px;
	text-decoration: none;
	font-size: 110%;
	width: 75.4%;
	margin: auto;
	/*
	text-align: center;
	*/
}
#footer {
	text-align: center;
	font-size: 65%;
	margin: auto;
}
div.content {
	min-height: 400px;
	font-size: 100%;
	font-family: "Courier New", Courier, monospace;
	width: 75%;
	margin: auto;
	border: solid;
	border-color: black;
}
body {background-color: rgb(226,237,213);}
h1 {
	color: rgb(77,124,161);
	font-family: Georgia, serif;
	font-size: 250%;
}
p {
	color: black;
}

