header {
	color: rgb(77,124,161);
	background-color: black;
}
nav {
	background-color: red;
	color: white;
}
body {background-color: rgb(226,237,213);}
h1 {color: rgb(77,124,161); font-family: courier;}
p  {color: black; font-family: verdana;}

